{
    "@context": {
        "@base": "{{ namespaces.agents.uri }}",
        "agn": "{{ secoro_mm }}/agent#"
    },
    "@graph": [
        {% for agent in scene.model.agents %}
        { "@id": "{{ agent.name }}", "@type": [ "agn:Agent", "agn:{{ agent.name|capitalize }}"] }{% if not loop.last %},{% endif +%}
        {% endfor %}
    ]
}