{
    "@context": [
        "{{ secoro_mm }}/acceptance-criteria/bdd/bdd.json",
        "{{ secoro_mm }}/acceptance-criteria/bdd/task.json",
        {
            "@base": "{{ namespaces.bdd.uri }}",
            "{{ namespaces.tmpl.name }}": "{{ namespaces.tmpl.uri }}",
            "{{ namespaces.agents.name }}": "{{ namespaces.agents.uri }}",
            "{{ namespaces.environments.name }}": "{{ namespaces.environments.uri }}",
            "{{ namespaces.scene_env.name }}": "{{ namespaces.scene_env.uri }}",
            "{{ namespaces.scene.name }}": "{{ namespaces.scene.uri }}"
        }
    ],
    "@graph": [
        {% for story in stories %}
        {% for scenario in story.scenarios %}
        {% for variation in scenario.variations %}
        {
            "@id": "var-{{ variation.variable.name }}", "@type": "bdd:TaskVariation",
            "of-task": "{{ namespaces.tmpl.name }}:task-{{ behaviours[0].name }}",
            "of-variable": "{{ namespaces.tmpl.name }}:var-{{ variation.variable.name }}",
            {% if variation.objects|length > 0  %}
            "can-be": [ {% for object in variation.objects %}"{{ namespaces.environments.name }}:obj-{{ object.name }}"{% if not loop.last %}, {% endif %}{% endfor %} ]
            {% elif variation.workspaces|length > 0 %}
            "can-be": [ {% for workspace in variation.workspaces %}"{{ namespaces.environments.name }}:ws-{{ workspace.name }}"{% if not loop.last %}, {% endif %}{% endfor %} ]
            {% else %}
            "can-be": [ {% for agent in variation.agents %}"{{ namespaces.agents.name }}:{{ agent.name }}"{% if not loop.last %}, {% endif %}{% endfor %} ]
            {% endif %}
        },
        {% endfor %}
        {
            "@id": "scr-var-{{ scenario.name }}", "@type": "bdd:ScenarioVariant",
            "of-template": "{{ namespaces.tmpl.name }}:{{ scenario.template[0].name }}",
            "has-scene": [
                "{{ namespaces.scene_env.name }}:{{ scenario.template[1].name }}-{{ namespaces.environments.name }}-objects",
                "{{ namespaces.scene_env.name }}:{{ scenario.template[1].name }}-{{ namespaces.environments.name }}-workspaces",
                {% for agent in scenario.template[1].agents %}
                "{{ namespaces.scene.name }}:{{ scenario.template[1].name }}-{{ namespaces.agents.name }}-{{ agent.name }}"{% if not loop.last %},{% endif +%}
                {% endfor %}
            ],
            "has-variation": [
                {%+ for variation in scenario.variations %}"var-{{ variation.variable.name }}"{% if not loop.last %}, {% endif %}{% endfor +%}
            ]
        },
        {% endfor %}
        {
            "@id": "{{ story.name }}", "@type": "bdd:UserStory",
            "has-criteria": [
                {%+ for scenario in story.scenarios %}"scr-var-{{ scenario.name }}"{% if not loop.last %}, {% endif %}{% endfor +%}
            ]
        }{% if not loop.last %},{% endif +%}
        {% endfor %}
    ]
}