{
    "@context": [
        "{{ secoro_mm }}/acceptance-criteria/bdd/bdd.json",
        "{{ secoro_mm }}/acceptance-criteria/bdd/task.json",
        {
            "@base": "{{ namespaces.bdd.uri }}",
            "var": "{{ namespaces.bdd.uri }}",
            "{{ namespaces.tmpl.name }}": "{{ namespaces.tmpl.uri }}",
            "{{ namespaces.agents.name }}": "{{ namespaces.agents.uri }}",
            "{{ namespaces.environments.name }}": "{{ namespaces.environments.uri }}",
            "{{ namespaces.scene_env.name }}": "{{ namespaces.scene_env.uri }}",
            "{{ namespaces.scene.name }}": "{{ namespaces.scene.uri }}"
        }
    ],
    "@graph": [
        {% for story in stories %}
        {% set story_loop = loop %}
        {% for scenario in story.scenarios %}
        {% set scenario_loop = loop %}

        {
            "@id": "{{ var_stories[story_loop.index0].scenarios[scenario_loop.index0].var_name }}-{{ scenario.name }}", "@type": [ "bdd:TaskVariation", "bdd:{{ var_stories[story_loop.index0].scenarios[scenario_loop.index0].var_type }}" ],
            "of-task": "{{ namespaces.tmpl.name }}:{{ scenario.task.name }}",
            {% if var_stories[story_loop.index0].scenarios[scenario_loop.index0].var_type == "CartesianProductVariation" %}
            "variable-list": [ {% for var_entry in scenario.variation.var_entries %}"{{ namespaces.tmpl.name }}:{{ var_entry.variable.name }}"{% if not loop.last %}, {% endif %}{% endfor %} ],
            "of-sets": [
                {% for var_entry in scenario.variation.var_entries %}
                {% if var_entry.objects|length > 0 %}
                [ {% for object in var_entry.objects %}"{{ namespaces.environments.name }}:obj-{{ object.name }}"{% if not loop.last %}, {% endif %}{% endfor %} ]{% if not loop.last %},{% endif +%}
                {% elif var_entry.workspaces|length > 0 %}
                [ {% for workspace in var_entry.workspaces %}"{{ namespaces.environments.name }}:ws-{{ workspace.name }}"{% if not loop.last %}, {% endif %}{% endfor %} ]{% if loop.index < scenario.variation.var_entries|length-1 %},{% endif +%}
                {% endif %}
                {% endfor %}
            ]
            {% elif var_stories[story_loop.index0].scenarios[scenario_loop.index0].var_type == "TableVariation" %}
            "variable-list": [ {% for cell in scenario.variation.rows[0].cells %}"{{ namespaces.tmpl.name }}:{{ cell.variable.name }}"{% if not loop.last %}, {% endif %}{% endfor %} ],
            "rows": [
                {% for row in scenario.variation.rows %}
                {% if loop.index != 1 %}
                [ {% for cell in row.cells %}
                {% if cell.object %}"{{ namespaces.environments.name }}:obj-{{ cell.object.name }}"
                {%- elif cell.workspace %}"{{ namespaces.environments.name }}:ws-{{ cell.workspace.name }}"
                {%- endif %}{% if loop.index < row.cells|length-1 %}, {% endif %}
                {% endfor %} ]{% if not loop.last %}, {% endif +%}
                {% endif %}
                {% endfor %}
            ]
            {% endif %}
        },

        {
            "@id": "{{ scenario.name }}", "@type": "bdd:ScenarioVariant",
            "of-template": "{{ namespaces.tmpl.name }}:{{ scenario.template.name }}",
            "has-scene": [
                "{{ namespaces.scene_env.name }}:{{ scenario.scene.name }}-{{ namespaces.environments.name }}-objects",
                "{{ namespaces.scene_env.name }}:{{ scenario.scene.name }}-{{ namespaces.environments.name }}-workspaces",
                {% for agent in scenario.scene.agents %}
                "{{ namespaces.scene.name }}:{{ scenario.scene.name }}-{{ namespaces.agents.name }}-{{ agent.name }}"{% if not loop.last %},{% endif +%}
                {% endfor %}
            ],
            "has-variation": "{{ var_stories[story_loop.index0].scenarios[scenario_loop.index0].var_name }}-{{ scenario.name }}"
        },
        {% endfor %}
        {
            "@id": "{{ story.name }}", "@type": "bdd:UserStory",
            "has-criteria": [
                {%+ for scenario in story.scenarios %}"{{ scenario.name }}"{% if not loop.last %}, {% endif %}{% endfor +%}
            ]
        }{% if not loop.last %},{% endif +%}
        {% endfor %}
    ]
}