{
    "@context": [
        "{{ secoro_mm }}/acceptance-criteria/bdd/agent.json",
        "{{ secoro_mm }}/acceptance-criteria/bdd/bdd.json",
        {
            "{{ namespaces.agents.name }}": "{{ namespaces.agents.uri }}",
            "scene-lab": "{{ secoro_m }}/acceptance-criteria/bdd/scenes/secorolab/",
            "scene": "{{ secoro_m }}/acceptance-criteria/bdd/scenes/isaac/"
        }
    ],
    "@graph": [
        {% for agent in scene.model.agents %}
        {
            "@id": "scene:scn-pickplace-{{ agents_file }}-{{ agent.name }}", "@type": "bdd:SceneHasAgents",
            "of-scene": "scene-lab:scn-pickplace",
            "has-agent": [ "{{ namespaces.agents.name }}:{{ agent.name }}" ]
        }{% if not loop.last %}, {% endif %}
        {% endfor %}
    ]
}