{
    "@context": [
        "{{ secoro_mm }}/acceptance-criteria/bdd/agent.json",
        "{{ secoro_mm }}/acceptance-criteria/bdd/bdd.json",
        {
            "{{ namespaces.agents.name }}": "{{ namespaces.agents.uri }}",
            "{{ namespaces.scene_env.name }}": "{{ namespaces.scene_env.uri }}",
            "{{ namespaces.scene.name }}": "{{ namespaces.scene.uri }}"
        }
    ],
    "@graph": [
        {% for agent in scene.model.agents %}
        {
            "@id": "{{ namespaces.scene.name }}:{{ scene.model.name }}-{{ namespaces.agents.name }}-{{ agent.name }}", "@type": "bdd:SceneHasAgents",
            "of-scene": "{{ namespaces.scene_env.name }}:{{ scene.model.name }}",
            "has-agent": [ "{{ namespaces.agents.name }}:{{ agent.name }}" ]
        }{% if not loop.last %}, {% endif %}
        {% endfor %}
    ]
}