{
    "@context": [
        "{{ secoro_mm }}/acceptance-criteria/bdd/environment.json",
        "{{ secoro_mm }}/acceptance-criteria/bdd/bdd.json",
        {
            "{{ namespaces.environments.name }}": "{{ namespaces.environments.uri }}",
            "scene": "{{ secoro_m }}/acceptance-criteria/bdd/scenes/secorolab/"
        }
    ],
    "@graph": [
        { "@id": "scene:{{ scene.model.name }}", "@type": "bdd:Scene" },
        {
            "@id": "scene:{{ scene.model.name }}-{{ namespaces.environments.name }}-objects", "@type": "bdd:SceneHasObjects",
            "of-scene": "scene:{{ scene.model.name }}",
            "has-object": [
                {%+ for object in scene.model.objects %}"{{ namespaces.environments.name }}:obj-{{ object.name }}", {% endfor +%}
                {%+ for workspace in scene.model.workspaces %}"{{ namespaces.environments.name }}:obj-{{ workspace.name }}"{% if not loop.last %}, {% endif %}{% endfor +%}
            ]
        },
        {
            "@id": "scene:{{ scene.model.name }}-{{ namespaces.environments.name }}-workspaces", "@type": "bdd:SceneHasWorkspaces",
            "of-scene": "scene:{{ scene.model.name }}",
            "has-workspace": [
                {%+ for workspace in scene.model.workspaces %}"{{ namespaces.environments.name }}:obj-{{ workspace.name }}"{% if not loop.last %}, {% endif %}{% endfor +%}
            ]
        }
    ]
}