{
    "@context": [
        "https://secorolab.github.io/metamodels/acceptance-criteria/bdd/environment.json",
        "https://secorolab.github.io/metamodels/acceptance-criteria/bdd/bdd.json",
        {
            "lab": "{{ environments_ns.uri }}",
            "scene": "https://secorolab.github.io/models/acceptance-criteria/bdd/scenes/secorolab/"
        }
    ],
    "@graph": [
        { "@id": "scene:scn-pickplace", "@type": "bdd:Scene" },
        {
            "@id": "scene:scn-pickplace-secorolab-objects", "@type": "bdd:SceneHasObjects",
            "of-scene": "scene:scn-pickplace",
            "has-object": [
                {%+ for object in scene.model.objects %}"lab:obj-{{ object.name }}", {% endfor +%}
                {%+ for workspace in scene.model.workspaces %}"lab:obj-{{ workspace.name }}"{% if not loop.last %}, {% endif %}{% endfor +%}
            ]
        },
        {
            "@id": "scene:scn-pickplace-secorolab-workspaces", "@type": "bdd:SceneHasWorkspaces",
            "of-scene": "scene:scn-pickplace",
            "has-workspace": [
                {%+ for workspace in scene.model.workspaces %}"lab:obj-{{ workspace.name }}"{% if not loop.last %}, {% endif %}{% endfor +%}
            ]
        }
    ]
}