{
    "@context": [
        "https://secorolab.github.io/metamodels/acceptance-criteria/bdd/environment.json",
        {
            "lab": "{{ environments_ns.uri }}"
        }
    ],
    "@graph": [
        {% for object in scene.model.objects %}
        { "@id": "lab:obj-{{ object.name }}", "@type": "env:Object" },
        {% endfor -%}

        {% for workspace in workspaces %}
        { "@id": "lab:ws-{{ workspace.name }}", "@type": "env:Workspace" },
        {% endfor %}

        {% for workspace in scene.model.workspaces %}
        {
            "@id": "lab:ws-{{ workspace.name }}-object", "@type": "env:WorkspaceHasObject",
            "of-workspace": "lab:ws-{{ workspace.name }}",
            "has-workspace": "lab:obj-{{ workspace.name }}"
        },
        {% endfor %}

        { "@id": "lab:ws-lab", "@type": "env:Workspace" },
        {
            "@id": "lab:lab-workspaces", "@type": "env:WorkspaceHasWorkspace",
            "of-workspace": "lab:ws-lab",
            "has-workspace": [
                {%+ for workspace in scene.model.workspaces %}"lab:ws-{{ workspace.name }}"{% if not loop.last %}, {% endif %}{% endfor +%}
            ]
        }
    ]
}