{
   "@context": [
      "{{ secoro_mm }}/acceptance-criteria/bdd/bdd.json",
      "{{ secoro_mm }}/acceptance-criteria/bdd/behaviour.json",
      "{{ secoro_mm }}/acceptance-criteria/bdd/task.json",
      "{{ secoro_mm }}/acceptance-criteria/bdd/time.json",
      {
         "{{ namespaces.tmpl.name }}": "{{ namespaces.tmpl.uri }}",
         "{{ namespaces.scene_env.name }}": "{{ namespaces.scene_env.uri }}"
      }
   ],
   "@graph": [
      {% for behaviour in behaviours %}
      { "@id": "{{ namespaces.tmpl.name }}:{{ behaviour.name }}", "@type": "bhv:Behaviour" },
      {% endfor %}
      {% for task in tasks %}
      { "@id": "{{ namespaces.tmpl.name }}:{{ task.name }}", "@type": "task:Task" },
      {% endfor %}

      {% for event in events %}
      { "@id": "{{ namespaces.tmpl.name }}:{{ event.name }}", "@type": "time:Event" },
      {% endfor %}

      {% for template in templates %}
      {% set tmpl_loop = loop %}
      { "@id": "{{ namespaces.tmpl.name }}:{{ template.name }}-given", "@type": "bdd:Given" },
      { "@id": "{{ namespaces.tmpl.name }}:{{ template.name }}-when", "@type": "bdd:When" },
      { "@id": "{{ namespaces.tmpl.name }}:{{ template.name }}-then", "@type": "bdd:Then" },
      {
         "@id": "{{ namespaces.tmpl.name }}:scenario-{{ template.name }}", "@type": "bdd:Scenario",
         "of-behaviour": "{{ namespaces.tmpl.name }}:{{ template.when_behaviour.behaviour.name }}",
         "of-task": "{{ namespaces.tmpl.name }}:{{ tasks[0].name }}",
         "given": "{{ namespaces.tmpl.name }}:{{ template.name }}-given",
         "when": "{{ namespaces.tmpl.name }}:{{ template.name }}-when",
         "then": "{{ namespaces.tmpl.name }}:{{ template.name }}-then"
      },

      {% for variable in template.variables %}
      { "@id": "{{ namespaces.tmpl.name }}:{{ variable.name }}", "@type": "bdd:ScenarioVariable" },
      {% endfor %}

      {% for fluent in fluents %}
      {
         "@id": "{{ namespaces.tmpl.name }}:fl-{{ fluent.name }}", "@type": ["bdd:Fluent", "bdd:{{ fluent.type }}"]{% if not loop.last %},{% endif +%}
      },
      {% endfor %}

      {% for given_clause in template.given_clauses %}
      {
         "@id": "{{ namespaces.tmpl.name }}:ftc-{{ fl_templates[tmpl_loop.index0].given_clauses[loop.index0].tc_name }}-{{ given_clause.tc.event.name }}", "@type": [ "time:TimeConstraint", "time:{{ fl_templates[tmpl_loop.index0].given_clauses[loop.index0].ec_type }}" ],
         "ref-event": "{{ namespaces.tmpl.name }}:{{ given_clause.tc.event.name }}"
      },
      {
         "@id": "{{ namespaces.tmpl.name }}:flc-{{ fl_templates[tmpl_loop.index0].given_clauses[loop.index0].fl_name }}-{{ given_clause.workspace.name }}", "@type": "bdd:FluentClause",
         "clause-of": "{{ namespaces.tmpl.name }}:{{ template.name }}-given",
         "holds": "{{ namespaces.tmpl.name }}:fl-{{ fl_templates[tmpl_loop.index0].given_clauses[loop.index0].fl_name }}",
         "holds-at": "{{ namespaces.tmpl.name }}:ftc-{{ fl_templates[tmpl_loop.index0].given_clauses[loop.index0].tc_name }}-{{ given_clause.tc.event.name }}",
         "ref-object": "{{ namespaces.tmpl.name }}:{{ given_clause.object.name }}",
         "ref-workspace": "{{ namespaces.tmpl.name }}:{{ given_clause.workspace.name }}"
      },
      {% endfor %}

      {% for then_clause in template.then_clauses %}
      {
         "@id": "{{ namespaces.tmpl.name }}:ftc-{{ fl_templates[tmpl_loop.index0].then_clauses[loop.index0].tc_name }}-{{ then_clause.tc.event.name }}", "@type": [ "time:TimeConstraint", "time:{{ fl_templates[tmpl_loop.index0].then_clauses[loop.index0].ec_type }}" ],
         "ref-event": "{{ namespaces.tmpl.name }}:{{ then_clause.tc.event.name }}"
      },
      {
         "@id": "{{ namespaces.tmpl.name }}:flc-{{ fl_templates[tmpl_loop.index0].then_clauses[loop.index0].fl_name }}-{{ then_clause.workspace.name }}", "@type": "bdd:FluentClause",
         "clause-of": "{{ namespaces.tmpl.name }}:{{ template.name }}-then",
         "holds": "{{ namespaces.tmpl.name }}:fl-{{ fl_templates[tmpl_loop.index0].then_clauses[loop.index0].fl_name }}",
         "holds-at": "{{ namespaces.tmpl.name }}:ftc-{{ fl_templates[tmpl_loop.index0].then_clauses[loop.index0].tc_name }}-{{ then_clause.tc.event.name }}",
         "ref-object": "{{ namespaces.tmpl.name }}:{{ then_clause.object.name }}",
         "ref-workspace": "{{ namespaces.tmpl.name }}:{{ then_clause.workspace.name }}"
      },
      {% endfor %}

      {
         "@id": "{{ namespaces.tmpl.name }}:{{ template.name }}", "@type": "bdd:ScenarioTemplate",
         "of-scenario": "{{ namespaces.tmpl.name }}:scenario-{{ template.name }}",
         "has-scene": "{{ namespaces.scene_env.name }}:{{ scene.model.name }}",
         "has-clause": [
            {%+ for given_clause in template.given_clauses %}"{{ namespaces.tmpl.name }}:flc-{{ fl_templates[tmpl_loop.index0].given_clauses[loop.index0].fl_name }}-{{ given_clause.workspace.name }}"{% if not loop.last %}, {% endif %}{% endfor %},
            {%- for then_clause in template.then_clauses %}"{{ namespaces.tmpl.name }}:flc-{{ fl_templates[tmpl_loop.index0].then_clauses[loop.index0].fl_name }}-{{ then_clause.workspace.name }}"{% if not loop.last %}, {% endif %}{% endfor +%}
         ]
      }{% if not loop.last %},{% endif +%}
      {% endfor %}
   ]
}